body {
    position: relative;
    overflow-x: hidden;

    @include rtl {
        font-family: GESS;
        font-weight: 300;
    }

    @include ltr {
        font-family: en;
        font-weight: 400;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: $main #F4F9FD;

}

::-webkit-scrollbar {
    background-color: #F4F9FD;
    width: 7px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: $main;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.overflow {
    overflow: hidden !important;
}

* {
    outline: none !important;
}

@media (min-width:1200px) {
    .container {
        max-width: 1200px
    }
}

.page-content {
    padding: 0;
}